.save-make-model-button {
    margin: 50px 0;
    padding: 10px;
    border-radius: 10px;
    background: #ffa344;
    color: white;
    font-size: 15px;
    font-family: monospace;
    width: 400px;
    max-width: 110px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 10px #aaaaaa;
}

.save-make-model-button:disabled {
    background: #ffffff;
    color: rgb(201, 201, 201);
    cursor: unset;
}