.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #303030;
    opacity: 0.9;
    justify-content: center;
    display: grid;
    align-items: center;
    z-index: 2;
}